{{> mainHead }}



    {{> navbar }}

    <div class="row">

        <div class="col-8">
            <h1>Acerca De</h1>
            <p>Esta es una página acerca de la trilogía más reciente de Tomb Raider protagonizada por la hermosa Lara Croft</p>
        </div>

        <div class="col-4">
            <img src="assets/img/tomb-raider.jpg" class="img-thumbnail">
        </div>

    </div>

    {{> footer }}